body {
  margin: 0;
  padding: 0;
  
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.main-header {
  background-color: #eeeeee;
  padding: 50px 0 1px 0;
}

.layout-position {
  margin: 0 auto;
  width: 1160px;
}

.map {
  background: url('../img/map.png') 50% 50% no-repeat;
  padding: 50px 0;
}

.footer-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  background-color: white;
  box-sizing: border-box;
  width: 319px;
  height: 308px;
  padding: 30px 50px;
}

.footer-address h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.footer-address p {
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 3px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.footer-text {
  display: flex;
  margin: 0 0 52px 0;
}

.social-btn {
  display: inline-block;
  background-color: #e1e1e1;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 7px;
  margin-top: 75px;
  vertical-align: middle;
}

.social-btn:hover,
.social-btn:focus {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  opacity:  0.3;
}

.social-btn:first-child {
  background-image: url('../img/svg-nerds/vk-icon.svg');
}

.social-btn:nth-child(2) {
  background-image: url('../img/svg-nerds/fb-icon.svg');
}

.social-btn:nth-child(3) {
  background-image: url('../img/svg-nerds/insta-icon.svg');
}

.footer-slogan {
  margin-left: 134px;
  margin-top: 69px;
}

.footer-slogan p{
  margin: 0;
  margin-top: 4px;
}

.footer-slogan span {
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
}

.visual-hidden {
  display: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 0;
  line-height: 0;
}

a:hover,
a:focus {
  outline: none;
}

.logo:hover,
.logo:focus {
  opacity: 0.7; 
}

.logo:active {
  opacity: 0.3;
}

/* Кнопки */
.btn {
  display: inline-block;
  box-sizing: content-box;
  vertical-align: middle;
  min-width: 140px;
  padding: 0 10px;  
  font: inherit;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
      
  border: none;
  background-color: #fb565a;
  border-radius: 3px;
}
.catalog-btn {   
  background-color: #eeeeee;
  color: #000000;
  min-width: 240px;
}

.slider-btn {
  min-width: 220px;
}

.item-info .btn {
  min-width: 180px;
}

.feedback-btn {
  margin-top: 24px;
  min-width: 200px;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin-top: -13px;
  margin-bottom: 60px;
}

.pagination-list li{
  display: inline-block;
  vertical-align: middle;
}

.page-btn {
  background-color: #eeeeee;
  color: #000000;
  min-width: 50px;
  margin-right: 7px;
  padding: 0;
}

.current-page {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #dbdbdb inset;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
  outline: none;
}

.btn:active {
  box-shadow: inset 0 3px 0 0 #c13135;
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
  outline: none;
}

.catalog-btn:hover,
.catalog-btn:focus,
.page-btn:hover,
.page-btn:focus {
  background-color: #f1f1f1;
}

.catalog-btn:active,
.page-btn:active {
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  background-color: #d5d5d5;
  color: rgba(0,0,0,0.3);
}

/* --- Главная страница --- */
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav,
.user-nav {
  list-style-type: none;
  text-transform: uppercase;
  padding-top: 17px;
}

.site-nav a,
.user-nav a {
  font-size: 16px;
  line-height: 24px;
}

.site-nav a {
  margin: 0 42px 0 0;
}

.user-nav-cart {
  font-size: 16px;
  line-height: 16px;
}

.user-nav-cart::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('../img/svg-nerds/cart-icon.svg') no-repeat;
  margin-right: 25px;
  vertical-align: middle;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
  color: #fb565a;
}

.site-nav a:active,
.user-nav a:active {
  color: rgba(0,0,0,0.3);
}

/* --- Наша продукция --- */
.product-items {
  display: flex;
  margin-top: 79px;
}

.product-item {
  margin-right: 100px;
}

.product-item h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 18px;
}

.product-item p {
  width: 250px;
  margin: 16px 0 33px 0;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}

.product-item-application .btn {
  background-color: #00ca74;
}

.product-item-presentation .btn {
  background-color: #efc84a;
}

.product-item-site .btn:hover, 
.product-item-site .btn:focus 
{
  background-color: #e74246
}

.product-item-application .btn:hover,
.product-item-application .btn:focus
{
  background-color: #00bc6c;
}

.product-item-presentation .btn:hover,
.product-item-presentation .btn:focus 
{
  background-color: #eab534;
}

.product-item-site .btn:active {
  background-color: #d7373b
}

.product-item-application .btn:active {
  box-shadow: inset 0 3px 0 0 #009958;
  background-color: #00aa62;
}

.product-item-presentation .btn:active {
  box-shadow: inset 0 3px 0 0 #ce961f;
  background-color: #e5a722;
}

/* Секция о нас */
.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
  border-top: 1px solid #eeeeee;
}

.about-us-slogan {
  width: 660px;
}

.about-us-slogan h3 {
  margin: 0;
  margin-top: 74px;
  font-size: 45px;
  line-height: 45px;
}

.about-us-slogan p {
  margin: 0;
  margin-top: 34px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.about-us-logo {
  margin-top: 39px;
}

.about-us-services h3 {
  margin:  0;
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.about-us-services {
  list-style-type: none;
  padding: 0;
}

.about-us-services li {
  margin-bottom: 25px
}

.about-us-services span {
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: #fb565a;
  vertical-align: middle;
  margin-right: 10px;
}

.stat-tbl caption {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 41px;
}

.stat-tbl th {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-align: left;
}

.stat-tbl td{
  /*vertical-align:  super;*/
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 18px; 
  width: 117px;
}

/* * * Наши партнеры * * */
.us-partners {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin-top: 48px;
  margin-bottom: 80px;
  padding: 50px 15px 40px 5px;
}

.partner-separator {
  content: "";
  display: inline-block;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  vertical-align: middle;
}

.partner-link {
  opacity: 0.2;
}

.partner-link:hover,
.partner-link:focus {
  opacity: 1;
}

.partner-link:active {
  opacity: 0.1;
}
/* * * Сетка страницы каталога * * */
.catalog-container {
  margin-top: 58px;
}

.catalog-name {
  margin: 0;
  margin-top: 77px;
  margin-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
}

.catalog-layout-position {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.active-page {
  position: relative;
}

.active-page::after {
  content: "";
  position: absolute;
  left: 0;
  height: 1.8em;
  width: 100%;
  border-bottom: 2px solid #fb565a;
}

/*Фильтры на странице каталога*/
.range-filter {
  width: 260px;
  margin-top: 42px;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
  vertical-align: middle;
}

.price-controls input {
  width: 60px;
  padding: 10px 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  
  font-family: inherit;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.filter-item {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 45px;
  padding: 0;
  border: none;
  position: relative;
}

.filter-item legend {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px
}

.grids-filter li,
.blocks-filter li {
  margin: 0;
  margin-left: -15px;
  /*margin-top: 18px;*/
}

.grid-radio,
.block-check,
.sorting-item {
  opacity: 0;
}

.grid-radio+label,
.block-check+label {
  position: relative;
  font-size: 16px;
  line-height: 40px;
  padding: 0;
  padding-left: 35px;
  color: #898e91;
}

.grid-radio + label::before,
.block-check + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background: url('../img/svg-nerds/radio-off.svg') no-repeat;
  opacity: 0.4;
}

.block-check + label::before {
  background: url('../img/svg-nerds/checkbox-off.svg') no-repeat;
}

.grid-radio + label:hover,
.grid-radio:focus + label,
.block-check + label:hover,
.block-check:focus+label {
  color: #4d4d4d;
}

.grid-radio + label:hover::before,
.grid-radio:focus + label::before,
.block-check + label:hover::before,
.block-check:focus + label::before {
  opacity: 0.8;
}

.grid-radio:checked + label::before {
  background: url('../img/svg-nerds/radio-on.svg') no-repeat;
}

.block-check:checked + label::before {
  background: url('../img/svg-nerds/checkbox-on.svg') no-repeat;
}

.block-check + label:disabled,
.grid-radio + label:disabled {
  color: #d8dadb;
}

/*Кнопки сортировки каталога*/
.catalog-sorting {
  display: flex;
  width: 760px;
  justify-content: space-between;
  align-items: flex-start;
}

.catalog-sorting h3 {
  margin: 0;
  margin-bottom: 97px;
  margin-right: 210px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-item+label {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: rgba(0,0,0,1);
  opacity: 0.3;
}

.sorting-item:hover+label,
.sorting-item:focus+label {
  color: rgba(0,0,0,1);
  opacity: 0.6;
}

.sorting-item:active+label {
  color: rgba(0,0,0,1);
  opacity: 1;
}

.sorting-item:checked+label {
  color: rgba(0,0,0,1);
  opacity: 1;
}

/*Товары*/
.catalog-products {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-item {
  /*box-sizing: border-box;*/
  position: relative;
  margin-bottom: 75px;
  width: 360px;
  height: 575px;
  outline: 1px solid #e5e5e5; 
}

.catalog-item::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 40px;
  top: -40px;
  background: url('../img/svg-nerds/browser.svg') no-repeat;
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover {
  opacity: 1;
  box-shadow: 0 6px 15px rgba(0,1,1,0.25);
}

.item-info {
  position: absolute;
  top: 345px;
  height: 230px;
  width: 360px;
  background-color: #eeeeee;
  text-align: center;
  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.5s;
}

.item-info h3,
.item-info p {
  display: inline-block;
  width: 230px;
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  vertical-align: middle;
}

.item-info h3 {
  margin-top:  35px;
  text-transform: uppercase;
}

.catalog-item:hover .item-info {
  opacity: 1;
  visibility: visible;
  /*display: block;*/
}

/*Форма связи*/
.feedback {
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 6;
  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0,1,1,0.75);
  box-sizing: border-box;
  width: 960px;
  height: 590px;
  padding: 75px 100px 85px 100px;
  position: fixed;
  top: 50%;
  margin-top: -300px;
  left: 50%;
  margin-left: -480px;
}

.feedback-show {
  visibility: visible;
}

.close-feedback {
  opacity: 0.3;
}

.close-feedback:hover,
.close-feedback:focus {
  opacity: 1;
}

.close-feedback:active {
  opacity: 0.1;
}

.feedback h2 {
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  margin-right: 400px; 
}

.feedback label {
  width: 360px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.feedback input {
  box-sizing: border-box;
  width: 360px;
  line-height: 26px;
  padding: 10px;
  border: none;
  outline: 3px solid #d7dcde;
}

.feedback input:hover,
.feedback textarea:hover {
  outline: 3px solid #b4b9bb;
}

.feedback input:focus,
.feedback textarea:focus {
  outline: 3px solid #000000;
}

.feedback input:invalid {
  color: #e74246;
}

.feedback textarea {
  box-sizing: border-box;
  width: 760px;
  height: 118px;
  margin-bottom: 45px;
  padding: 10px;
  outline: 3px solid #d7dcde;
  border: none;
}

/* Слайдер */
.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 5;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
  
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url('../img/slide1.png');
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url('../img/slide2.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url('../img/slide3.png');
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 40px;
}
