body {
    
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.layout-position {
    margin: 0 auto;
    width: 1160px;
}

.main-header {
    background-color: #eeeeee;
}

.main-footer {
    background-image: url('img/map.png');
    background-repeat: no-repeat;
    padding: 1px;
}

.footer-address {
    background-color: white;
    width: 300px;
    margin: 5px;
    border: 1px solid white;
    padding: 15px;
}

.footer-address h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.main-footer-slogan {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: black;
}

.logo:hover,
.logo:focus {
  opacity: 0.7; /*значение 0.8 не заметно, сделал 0.7*/
}

.logo:active {
  opacity: 0.3;
}

.site-nav,
.user-nav {
    list-style-type: none;
    line-height: 24px;
    text-transform: uppercase;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
  color: #fb565a;
}

.site-nav a:active,
.user-nav a:active {
  color: rgba(0,0,0,0.3);
}

.user-nav-cart::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url('img/svg-nerds/cart-icon.svg') no-repeat;
  margin-right: 25px;
} 

.active-page {
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

.slider-slogan {
  font-size: 55px;
  line-height: 55px;
}

.slider-btns {
  list-style-type: none;
}

.product-item h3 {
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
}

/* Кнопки */
.btn {
  display: inline-block;
  min-width: 140px;
  padding: 0 10px;  
  font: inherit;
  line-height: 50px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
      
  border: none;
  background-color: #fb565a;
  border-radius: 3px;
}
.catalog-btn {   
  background-color: #eeeeee;
  color: #000000;
  min-width: 240px;
}

.item-info .btn {
  min-width: 180px;
}

.footer-address .btn {
  min-width: 200px;
}

.pagination-list {
  list-style: none;
  padding: 0;
}

.pagination-list li{
  display: inline-block;
}

.page-btn {
  background-color: #eeeeee;
  color: #000000;
  min-width: 50px;
  padding: 0;
}

.current-page {
  background-color: #ffffff;
  box-shadow: 0 0 0 3px #dbdbdb inset;
}

.btn:hover,
.btn:focus {
  background-color: #e74246;
  outline: none;
}

.btn:active {
  box-shadow: inset 0 3px 0 0 #c13135;
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
  outline: none;
}

.catalog-btn:hover,
.catalog-btn:focus,
.page-btn:hover,
.page-btn:focus {
  background-color: #dfdfdf;
}

.catalog-btn:active,
.page-btn:active {
  box-shadow: inset 0 3px 0 0 #bfbfbf;
  background-color: #d5d5d5;
  color: rgba(0,0,0,0.3);
}

/*Наши предложения кнопки*/
ul.product-items {
  list-style-type: none;
}

.product-item:nth-child(2) .btn {
  background-color: #00ca74;
}

.product-item:nth-child(3) .btn {
  background-color: #efc84a;
}

.product-item:first-child .btn:hover, 
.product-item:first-child .btn:focus 
{
  background-color: #e74246
}

.product-item:nth-child(2) .btn:hover,
.product-item:nth-child(2) .btn:focus
{
  background-color: #00bc6c;
}

.product-item:nth-child(3) .btn:hover,
.product-item:nth-child(3) .btn:focus 
{
  background-color: #eab534;
}

.product-item:first-child .btn:active {
  background-color: #d7373b
}

.product-item:nth-child(2) .btn:active {
  box-shadow: inset 0 3px 0 0 #009958;
  background-color: #00aa62;
}

.product-item:nth-child(3) .btn:active {
  box-shadow: inset 0 3px 0 0 #ce961f;
  background-color: #e5a722;
}

/* Секция о нас */
.about-us-slogan {
    font-size: 45px;
    line-height: 45px;
}
.about-us h3{
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.about-us-services {
    list-style-type: none;
}

.stat-tbl th {
    font-size: 45px;
    line-height: 48px;
    font-weight: 700;
  
}

.stat-tbl td{
    /*vertical-align:  super;*/
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    width: 90px;
}

.partner-link {
  opacity: 0.2;
}

.partner-link:hover,
.partner-link:focus {
  opacity: 1;
}

.partner-link:active {
  opacity: 0.1;
}

/*Из демки*/
.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

/*Фильтры*/
.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.filter-grids,
.filter-blocks {
  padding: 0;
  list-style: none;
}

.filter-grids li,
.filter-blocks li {
  margin: 0;
  margin-bottom: 15px;
}

fieldset legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
  display: none; 
}

/*фильтр сетка*/
.grid-radio+label,
.block-check+label {
  line-height: 42px;
  color: #283136;
  padding: 15px;
}

.filter-grids label,
.filter-blocks label {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  padding: 0 40px;
}

.grid-radio+label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: auto;
  left: 0;
  width: 25px;
  height: 25px;
  background: url('img/svg-nerds/radio-off.svg') no-repeat;
  opacity: 0.4;
}

.grid-radio:checked+label::before {
  background: url('img/svg-nerds/radio-on.svg') no-repeat;
}

.block-check+label::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: auto;
  left: 0;
  width: 25px;
  height: 25px;
  background: url('img/svg-nerds/checkbox-off.svg') no-repeat;
  opacity: 0.4;
}

.block-check:checked+label::before {
  background: url('img/svg-nerds/checkbox-on.svg') no-repeat;
}

.sorting-item {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0,0,0,1);
  opacity: 0.3;
}

.sorting-item:hover,
.sorting-item:focus {
  color: rgba(0,0,0,1);
  opacity: 0.6;
}

.sorting-item:active {
  color: rgba(0,0,0,1);
  opacity: 1;
}

.sorting-item:checked+label {
  color: rgba(0,0,0,1);
  opacity: 1;
}

/*Товары*/
.catalog-item {
  position: relative;
  margin-bottom: 15px;
  width: 360px;
}

.item-browser {
  height: 40px;
  background: url('img/svg-nerds/browser.svg') no-repeat;
  opacity: 0.12;
}

.catalog-item:hover .item-browser {
  opacity: 1;
}

.item-info {
  position: absolute;
  top: 385px;
  height: 231px;
  width: 360px;
  background-color: #eeeeee;
  text-align: center;
  display: none;
}

.item-info h3,
.item-info p {
  display: block;
  width: 220px;
  margin: auto;
  margin-bottom: 35px;
  text-align: center;
}

.item-info h3 {
  text-transform: uppercase;
}

.catalog-item:hover .item-info {
  display: block;
}

